@page
@model Asp.net_Assignment.Pages.Forms.EventsModel
@{
    ViewData["Title"] = "Events";

}
<div class="text-center">
    <h1>Events Detail</h1>

</div>
<a asp-page=/scaffolding/Create>Create Event</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Place
            </th>
            <th>
                Adress
            </th>
            <th>
                Date
            </th>
            <th>
                Spotsavailable
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var items in Model.Event)
        {
            <tr>
                <td>
                    @items.Description
                </td>
                <td>
                    @items.Place
                </td>
                <td>

                    @items.Adress
                </td>
                <td>
                    @items.Date
                </td>
                <td>
                    @items.SpotsAvailable
                </td>
                <td>

                    <a asp-page=/scaffolding/Edit asp-route-id="@items.EventID">Edit</a>
                    <a asp-page=/scaffolding/Details asp-route-id="@items.EventID">Details</a>
                    <a asp-page=/scaffolding/Delete asp-route-id="@items.EventID">Delete</a>
                </td>
                <td>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <button class="btn-dark" type="submit">Join</button>

                    </form>
                   
                </td>
            </tr>
        }

    </tbody>

</table>

