@page
@model Asp.net_Assignment.Pages.Forms.EventsModel
@{
    ViewData["Title"] = "Events";

}
<div class="text-center">
    <h1>Events Detail</h1>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Place
            </th>
            <th>
                Adress
            </th>
            <th>
                Date
            </th>
            <th>
                Spotsavailable
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var items in Model.Event)
        {
        <tr>
            <td>
                @items.Description
            </td>
            <td>
                @items.Place
            </td>
            <td>

                @items.Adress
            </td>
            <td>
                @items.Date
            </td>
            <td>
                @items.SpotsAvailable
            </td>
            <td>
                <form>
                    <button mehtod="post" type="submit">Join</button>
                   
                </form>
            </td>
        </tr>


        }
    </tbody>
    </table>

